.card img{
    height: 100%; /* Fill the height of the carousel */
    width: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Contain to prevent cropping */
}
.card:hover{
    box-shadow: 0pt 0pt 15pt -5pt dodgerblue;
}
.pagination{
    margin: 20pt;
    justify-content: center;
}
.js-pagination-list{
    margin:0 ; 
    padding: 0 ;
    display: flex;
    flex-direction: row; 
}

.page-item.active{
    background-color: dodgerblue;
}

.js-cart-item {
    padding: 10px 0;
    min-height: 100px;
    justify-content: space-between;
}
  
.js-cart-item a {
    justify-content: center; /* Center horizontally */
    align-items: center;
    display: flex;
    
}
.cart-item-image{
    width: 100px;
    height: auto;
}
  
.cart-item-remove {
    height: 40pt;
    width: 40pt;
    padding: 0;
   
}


.carousel {
    height: 400px; /* Fixed height */
    margin-bottom: 20pt;
}
.carousel-item {
    height: 400px; /* Match the height of the carousel */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.carousel-item img {
    height: 100%; /* Fill the height of the carousel */
    width: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Contain to prevent cropping */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color:  rgba(13, 110, 253, 0.15);
    border-radius: 25%; 
    box-shadow: 0 2px 5px  rgba(13, 110, 253, 0.25); 
}


.accordion-body {
    padding-left: 0;
    padding: 0;
}
.list-group-item{
    padding-left: 40px;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: dodgerblue;
}

.backToTop{
    width: 60px;
    height: 60px;
    padding: 0;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 1000;
    display: none;
}